<html>
    <head>
        <title>thunderfly</title>
    </head>
    <body>
        <h1>thunderfly</h1>
        <form action="/host" method="get">
            <input type="text" name="music_url" value="test.mp3">
            <input type="submit" value="new session" onClick="newsession(this.form)">
        </form>
        <form action="/client" method="get">
            <input type="text" name="session_code" value="sessioncode">
            <input type="submit" value="join session" onClick="joinsession(this.form)">
        </form>
    </body>
</html>
